<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>后台管理中心</title>  
    <link rel="stylesheet" href="css/pintuer.css">
    <link rel="stylesheet" href="css/admin.css">
    <script src="js/jquery.js"></script>
</head>
<body style="background-color:#f2f9fd;">
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img th:src="@{images/y.jpg}" class="radius-circle rotate-hover" height="50" alt="" />后台管理中心</h1>
  </div>
  <div class="head-l">
      <a class="button button-little bg-green" th:href="@{/index}" target="_blank">
          <span class="icon-home"></span> 前台首页
      </a> &nbsp;&nbsp;
      <a class="button button-little bg-red" th:href="@{/admin/login}">
          <span class="icon-power-off"></span> 退出登录
      </a>
  </div>
</div>
<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-list"></span>功能列表</strong></div>
  <h2><span class="icon-pencil-square-o"></span>账号设置</h2>
  <ul>
    <li><a th:href="@{/admin/pass}" target="right"><span class="icon-caret-right"></span>修改密码</a></li>
  </ul>
  <h2><span class="icon-pencil-square-o"></span>菜单管理</h2>
  <ul>
      <li><a th:href="@{/admin/showMenu}" target="right"><span class="icon-caret-right"></span>管理菜系</a></li>
  </ul>
  <h2><span class="icon-pencil-square-o"></span>美食管理</h2>
  <ul>
    <li><a th:href="@{/admin/showProductByPage}" target="right"><span class="icon-caret-right"></span>全部美食</a></li>
    <li><a th:href="@{/admin/toAddProduct}" target="right"><span class="icon-caret-right"></span>添加美食</a></li>
  </ul>
  <h2><span class="icon-pencil-square-o"></span>订单管理</h2>
  <ul>
      <li><a th:href="@{/admin/findOrderQuery}" target="right"><span class="icon-caret-right"></span>全部订单</a></li>
  </ul>
</div>
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
//  $(".leftnav li").has("ul").click(function(){
//      $(this).find("ul").css("display","block");
//  }).mouseleave(function(){
//      $(this).find("ul").css("display","none");
//  })
  $(".leftnav ul li a").click(function(){
	  $("#a_leader_txt").text($(this).text());
      $(".leftnav ul li a").removeClass("on");
      $(this).addClass("on");
  })
});
</script>
<ul class="bread">
  <li><a href="{:U('Index/info')}" target="right" class="icon-home"> 首页</a></li>
  <li><a href="##" id="a_leader_txt">网站信息</a></li>
  <li><b>当前语言：</b><span style="color:red;">中文</php></span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;切换语言：<a href="##">中文</a> &nbsp;&nbsp;<a href="##">英文</a> </li>
</ul>
<div class="admin">
  <iframe scrolling="auto" rameborder="0" th:src="@{/admin/pass}" name="right" width="100%" height="100%"></iframe>
</div>
<script src="js/bootstrap.js"></script>
</body>
</html>