<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chao.bysj.mapper.AdminMapper" >
<!--
    <insert id="addAdmin" parameterType="com.chao.bysj.po.Admin">
        insert into admin(account,password) values(#{account},#{password})
    </insert>-->

    <select id="selectAccount" parameterType="java.lang.String" resultType="com.chao.bysj.po.Admin">
        select * from admin where account = #{account}
    </select>
    <update id="updatePassword" parameterType="com.chao.bysj.po.Admin">
        UPDATE admin SET password = #{password} WHERE account = #{account}
    </update>
<!--
    <update id="updateById" parameterType="com.chao.bishe.pojo.User">
        update user set
        username = #{userName,jdbcType=VARCHAR} ,
        age = #{age,jdbcType=NUMERIC}
        where id = #{id,jdbcType=NUMERIC}
    </update>

    <delete id="deleteById">
        delete from user where id = #{id,jdbcType=NUMERIC}
    </delete>

    <select id="queryAll" resultType="com.chao.bishe.pojo.User">
        select * from user
    </select>
-->
</mapper>