<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chao.bysj.mapper.ProductMapper" >
    <!--配置一个resultMap 指定返回的类型 -->
    <resultMap id="productList" type="com.chao.bysj.po.Product">
        <id column="id" property="id" />
        <result column="product_name" property="productName" />
    </resultMap>
    <select id="selectByName" parameterType="java.lang.String" resultMap="productList">
            select * from bs_product where product_name LIKE  CONCAT('%', #{productName}, '%')
    </select>

</mapper>