<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chao.bysj.mapper.UserMapper" >

    <insert id="addUser" parameterType="com.chao.bysj.po.User">
        insert into user(username,mail,phone,password) values(#{username},#{mail},#{phone},#{password})
    </insert>

    <select id="selectById" resultType="com.chao.bysj.po.User">
        select * from user where uid = #{uid}
    </select>
    <select id="selectByName" resultType="com.chao.bysj.po.User">
        select * from user where username = #{username}
    </select>
<!--
    <update id="updateById" parameterType="com.chao.bishe.pojo.User">
        update user set
        username = #{userName,jdbcType=VARCHAR} ,
        age = #{age,jdbcType=NUMERIC}
        where id = #{id,jdbcType=NUMERIC}
    </update>

    <delete id="deleteById">
        delete from user where id = #{id,jdbcType=NUMERIC}
    </delete>

    <select id="queryAll" resultType="com.chao.bishe.pojo.User">
        select * from user
    </select>
-->
</mapper>