<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Products</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="/css/style.css" type="text/css" rel="stylesheet" media="all">  
<link href="/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons --> 
<link rel="stylesheet" href="/css/owl.carousel.css" type="text/css" media="all"/> <!-- Owl-Carousel-CSS -->
<!-- //Custom Theme files --> 
<!-- js -->
<script src="/js/jquery-2.2.3.min.js"></script>
<!-- //js -->
<!-- web-fonts -->   
<link href="http://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet"> 
<link href="http://fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body>
<!-- banner -->
<div class="banner">
	<!-- header -->
	<div class="header">
		<div class="w3ls-header"><!-- header-one -->
			<div class="container">
				<div class="w3ls-header-left">
					<p>最美味的佳肴奉献给最美丽的你</p>
				</div>
				<div class="w3ls-header-right">
					<ul>
						<li class="head-dpdn">
							<i class="fa fa-phone" aria-hidden="true"></i> 联系我们: +01 222 33345
						</li>
						<li class="head-dpdn" th:if="${session.user == null}">
							<a th:href="@{/user/login}"><i class="fa fa-sign-in" aria-hidden="true"></i> 登录</a>
						</li>
						<li class="head-dpdn" th:if="${session.user != null}">
							<a th:href="@{/user/myOrder}"><i class="glyphicon glyphicon-user" aria-hidden="true"></i> <span th:text="${session.user.username}"></span></a>
						</li>
						<li class="head-dpdn">
							<a th:href="@{/toSignup}"><i class="fa fa-user-plus" aria-hidden="true"></i> 注册</a>
						</li>
						<li class="head-dpdn">
							<a th:href="@{/offers}"><i class="fa fa-gift" aria-hidden="true"></i> 折扣</a>
						</li>
						<li class="head-dpdn">
							<a th:href="@{/help}"><i class="fa fa-question-circle" aria-hidden="true"></i> 帮助</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //header-one -->
		<!-- navigation -->
		<div class="navigation agiletop-nav">
			<div class="container">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header w3l_logo">
						<h1><a th:href="@{/index}">美味屋</a></h1>
					</div>
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav navbar-right">
							<li><a th:href="@{/index}" class="active">首页</a></li>
							<!-- Mega Menu -->
							<li><a th:href="@{/user/showMenu}" class="dropdown-toggle">菜单</a></li>
							<li><a th:href="@{/about}">关于我们</a></li>
							<li class="w3pages"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">图标 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a th:href="@{/icons}">Web Icons</a></li>
									<li><a th:href="@{/codes}">Short Codes</a></li>
								</ul>
							</li>
							<li><a th:href="@{/contact}">留言</a></li>
						</ul>
					</div>
					<div class="cart cart box_1">
						<a th:href="@{/user/showCar}">
							<button class="w3view-cart" ><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
						</a>
					</div>
				</nav>
			</div>
		</div>
		<!-- //navigation -->
	</div>
	<!-- //header-end -->
	<!-- banner-text -->
	<div class="banner-text">
		<div class="container">
			<h2>最美味的佳肴 <br> <span>奉献给最美丽的你</span></h2>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- breadcrumb -->
<div class="container">
	<ol class="breadcrumb w3l-crumbs">
		<li><a th:href="@{/index}"><i class="fa fa-home"></i> 首页</a></li>
		<li class="active">个人资料</li>
	</ol>
</div>
	<!-- products -->
	<div class="products">
		<div class="container">
			<div class="col-md-9 product-w3ls-right">
				<div class="product-top">
					<h4>管理收货地址</h4>
					<div class="clearfix"> </div>
				</div>
				<div class="products-row">
					<div th:each="address,iterStat:${addressList}">
						<table class="table" style="margin-top: 25px;text-align: left">
							<tr class="active">
								<td style="width: 20%"th:text="${address.name}"></td>
								<td style="width: 30%" th:text="${address.phone}"></td>
								<td style="width: 50%" th:text="${address.address}"></td>
							</tr>
							<tr>
								<td ><input name="flag" type="radio">设为默认</td>
								<td ></td>
								<td>
									<a  onclick="editOne(this)"><span class="glyphicon glyphicon-edit">编辑</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a th:href="'/user/delAddress?id='+${address.id}"><span class="glyphicon glyphicon-trash">删除</span></a>
									<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
										<div class="modal-dialog" role="document">
											<form method="post" th:action="@{/user/updateAddress}">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
														<h4 class="modal-title" id="myModalLabel">修改</h4>
													</div>
													<input type="hidden" name="aid" th:value="${address.id}">
													<div class="modal-body">
														<div class="form-group">
															<label>姓名</label>
															<input type="text" style="width: 50%"  name="name" class="form-control" th:value="${address.name}">
														</div>
														<div class="form-group">
															<label>电话</label>
															<input type="text" style="width: 50%" name="phone" class="form-control" th:value="${address.phone}">
														</div>
														<div class="form-group">
															<label>地址</label>
															<input type="text" name="path" class="form-control" th:value="${address.address}">
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
														<button type="submit" id="btn_submit" class="btn btn-primary">保存</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</td>
							</tr>
						</table>

					</div>
					<div style="margin-top: 30px" align="center">
						<input type="button" style="width: 200px" class="btn btn-success"  value="新增收货地址" onclick="add()">
					</div>
					<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<form method="post" th:action="@{/user/addAddress}">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
										<h4 class="modal-title" id="myModalLabe2">新增</h4>
									</div>
									<div class="modal-body">
										<div class="form-group">
											<label>姓名</label>
											<input type="text" style="width: 50%"  name="name" class="form-control">
										</div>
										<div class="form-group">
											<label>电话</label>
											<input type="text" style="width: 50%" name="phone" class="form-control">
										</div>
										<div class="form-group">
											<label>地址</label>
											<input type="text" name="path" class="form-control">
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<button type="submit"  class="btn btn-primary">保存</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
					<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 rsidebar">
				<div class="rsidebar-top">
					<div class="sidebar-row">
						<h4>个人主页</h4>
						<ul class="faq">
							<li class="item1"><a href="#">信息管理<span class="glyphicon glyphicon-menu-down"></span></a>
								<ul>
									<li class="subitem1"><a href="#">更改手机号</a></li>
									<li class="subitem1"><a th:href="@{/user/showAddress}">管理收货地址</a></li>
									<li class="subitem1"><a th:href="@{/user/toChangepwd}">修改密码</a></li>
								</ul>
							</li>
							<li class="item2"><a href="#">我的订单<span class="glyphicon glyphicon-menu-down"></span></a>
								<ul>
									<li class="subitem1"><a th:href="@{/user/myOrder}">全部订单</a></li>
									<li class="subitem1"><a th:href="@{'/user/myOrderState?state='+'未付款'}">未付款订单 </a></li>
									<li class="subitem1"><a th:href="@{'/user/myOrderState?state='+'已付款'}">已付款订单</a></li>
									<li class="subitem1"><a href="#">待评价</a></li>
								</ul>
							</li>
						</ul>
						<div class="clearfix"> </div>
						<!-- script for tabs -->
						<script type="text/javascript">
							$(function() {

								var menu_ul = $('.faq > li > ul'),
									   menu_a  = $('.faq > li > a');

								menu_ul.hide();

								menu_a.click(function(e) {
									e.preventDefault();
									if(!$(this).hasClass('active')) {
										menu_a.removeClass('active');
										menu_ul.filter(':visible').slideUp('normal');
										$(this).addClass('active').next().stop(true,true).slideDown('normal');
									} else {
										$(this).removeClass('active');
										$(this).next().stop(true,true).slideUp('normal');
									}
								});
                            });
						</script>
						<script type="text/javascript">
                            function editOne(obj) {
                                $(obj).parent().find("#myModal").modal();
                            }
                            function  add() {
								$("#myModal2").modal();
                            }
						</script>
						<!-- script for tabs -->
					</div>
				</div>
				<div class="related-row">
					<h4>YOU MAY ALSO LIKE</h4>
					<div class="galry-like">
						<a href="#" data-toggle="modal" data-target="#myModal1"><img src="/images/s1.jpg" class="img-responsive" alt="img"></a>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- subscribe -->
	<div class="subscribe agileits-w3layouts"> 
		<div class="container">
			<div class="col-md-6 social-icons w3-agile-icons">
				<h4>Keep in touch</h4>  
				<ul>
					<li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
					<li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
					<li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
					<li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
					<li><a href="#" class="fa fa-rss icon rss"> </a></li> 
				</ul> 
				<ul class="apps"> 
					<li><h4>Download Our app : </h4> </li>
					<li><a href="#" class="fa fa-apple"></a></li>
					<li><a href="#" class="fa fa-windows"></a></li>
					<li><a href="#" class="fa fa-android"></a></li>
				</ul> 
			</div> 
			<div class="col-md-6 subscribe-right">
				<h3 class="w3ls-title">Subscribe to Our <br><span>Newsletter</span></h3>  
				<form action="#" method="post"> 
					<input type="email" name="email" placeholder="Enter your Email..." required="">
					<input type="submit" value="Subscribe">
					<div class="clearfix"> </div> 
				</form> 
				<img src="/images/i1.png" class="sub-w3lsimg" alt=""/>
			</div>
			<div class="clearfix"> </div> 
		</div>
	</div>
	<!-- //subscribe --> 
	<!-- footer -->
	<div class="footer agileits-w3layouts">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
					<h3>company</h3>
					<ul>
						<li><a href="about.html">About Us</a></li>
						<li><a href="contact.html">Contact Us</a></li>  
						<li><a href="careers.html">Careers</a></li>  
						<li><a href="help.html">Partner With Us</a></li>   
					</ul>
				</div> 
				<div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
					<h3>help</h3>
					<ul>
						<li><a href="faq.html">FAQ</a></li> 
						<li><a href="login.html">Returns</a></li>   
						<li><a href="login.html">Order Status</a></li> 
						<li><a href="offers.html">Offers</a></li> 
					</ul>  
				</div>
				<div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
					<h3>policy info</h3>
					<ul>  
						<li><a href="terms.html">Terms & Conditions</a></li>  
						<li><a href="privacy.html">Privacy Policy</a></li>
						<li><a href="login.html">Return Policy</a></li> 
					</ul>     
				</div>
				<div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
					<h3>Menu</h3> 
					<ul>
						<li><a href="menu.html">All Day Menu</a></li> 
						<li><a href="menu.html">Lunch</a></li>
						<li><a href="menu.html">Dinner</a></li>
						<li><a href="menu.html">Flavours</a></li> 
					</ul>  
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div> 
	</div>
	<!-- //footer -->   
	<!-- cart-js -->
	<!--<script src="/js/minicart.js"></script>-->
	<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) { 
        		}
        	}
        });
    </script>  
	<!-- //cart-js --> 
	<!-- Owl-Carousel-JavaScript -->
	<script src="/js/owl.carousel.js"></script>
	<script>
		$(document).ready(function() {
			$("#owl-demo").owlCarousel ({
				items : 3,
				lazyLoad : true,
				autoPlay : true,
				pagination : true,
			});
		});
	</script>
	<!-- //Owl-Carousel-JavaScript -->  	
	<!-- the jScrollPane script -->
	<script type="text/javascript" src="/js/jquery.jscrollpane.min.js"></script>
	<script type="text/javascript" id="sourcecode">
		$(function()
		{
			$('.scroll-pane').jScrollPane();
		});
	</script>
	<!-- //the jScrollPane script -->
	<script type="text/javascript" src="/js/jquery.mousewheel.js"></script> <!-- the mouse wheel plugin --> 
	<!-- start-smooth-scrolling -->
	<script src="/js/SmoothScroll.min.js"></script>  
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	  
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->  
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap.js"></script>
</body>
</html>